:root{
    font-family: 'Fredoka', sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    background: /*#EBC4E0*/#6E8894;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.layout{
    padding: 24px;
    margin: 0 auto;
    width: 630px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}
.attemps{
    margin-top: 10px;
    padding: 0px 15px;
    color: white;
    background-color: #9C387B;
    font-weight: lighter;
}
#board{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img{
    margin: 2px;
}
img:hover{
    cursor: pointer;
}
.dead-img{
    margin: 2px;
}
.dead-img:hover{
    cursor: default;
}
.play-again{
    font-size: 16px;
    border: none;
    padding: 8px;
    margin-top: 20px;
    color: white;
    background-color: #BE4997;
    box-shadow: 3px 3px #DEA2CA;
}
.play-again:hover{
    cursor: pointer;
}
.play-again:active{
    position: relative;
    top: 3px;
    box-shadow: none;
}
.disabled{
    font-size: 16px;
    border: none;
    padding: 8px;
    margin-top: 20px;
    color: white;
    background-color: #BE4997;
    box-shadow: 3px 4px #DEA2CA;
    opacity: 0.5;
}
.disabled:hover{
    cursor: default;
}
a {
    text-decoration: none;
    color: #BE4997;
}
p{
    margin-bottom: 20px;
}

@media (max-width: 690px){
    .layout{
        width: 420px;
    }
}
@media (max-width: 460px){
    .layout{
        width: 315px;
    }
}